<div class="message">
    <p>{{message}}</p>
</div>

{{#each posts}}
<div class="post_stub">
    <a href="/posts/{{this._id}}"><h2>{{this.title}}</h2></a>
    <h3>{{this.author}}</h3>
    <h3>{{this.date}}</h3>
    {{#each this.tags}}
        <a href="/search/{{this.body}}"><span class="tag">{{this.body}}</span></a>
    {{/each}}
    <a href="/remove/{{this._id}}">Remove This Post</a>
</div>
{{/each}}